body { background-color:teal;}
p { font-size:25px;font-style:italic;}
h1 { font-size:35px }
.mainphotos { width:200px;
              height:200px;
			  border:solid 5px white}
.img { width:300px;height:200px;border-radius:100px;border:solid 4px white}